.ImageZoomerMask {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
}

.ImageZoomerImage {
  max-width: 100% !important;
  height: auto !important;
  max-height: 90vh !important;
  display: block;
  margin: 0 auto;
}
.ant-modal-body {
  padding: 0 !important;
  position: relative !important;
}

.ant-modal-close {
  position: absolute !important;
}

.ant-modal {
  width: auto !important;
}
