.BookDetailTabsContainer > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}

.BookDetailTabsContainer .ant-tabs-bar {
  display: inline-block !important;
  border-bottom: 0;
}

.BookDetailTabsContainer .ant-tabs-tabpane {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.AdditionalDescriptionItem {
  padding: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.AdditionalDescriptionItem .first {
  width: 30%;
  display: inline-block;
  padding-right: 24px;
  text-align: right;
  box-sizing: border-box;
}

.AdditionalDescriptionItem .second {
  padding-left: 24px;
  font-weight: 600;
  flex: 1;
}

.ant-tabs-tabpane.ant-tabs-tabpane-active {
  padding: 24px !important;
}

.AdditionalDescriptionItem:nth-child(even) {
  background: #f0f2f5;
}

.BookDetailTabsContainer {
  min-width: 100%;
}

.BookDetailTabsContainer
  > .ant-tabs-card
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.BookDetailTabsContainer > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.BookDetailTabsContainer > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent !important;
  background: transparent !important;
}

.BookDetailTabsContainer > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff !important;
  background: #fff !important;
}

@media screen and (max-width: 680px) {
  .AdditionalDescriptionItem {
    padding: 12px;
  }

  .AdditionalDescriptionItem .second {
    text-align: right;
    padding-left: 12px;
  }

  .AdditionalDescriptionItem .first {
    padding-right: 12px;
    width: auto;
    text-align: left;
  }

  .AdditionalDescriptionItem .ant-divider {
    display: none;
  }

  .BookDetailTabsContainer .ant-tabs-tabpane {
    padding: 6px 12px !important;
  }
}
