.CoverUploaderThumbCard {
  border: 1px solid #d9d9d9;
}

.CoverUploaderThumbCardUploadingMask {
  background: rgba(0, 0, 0, 0.9);
}

.CoverUploaderCard:hover .CoverUploaderThumbCardHoverMask {
  opacity: 1;
}

.CoverUploaderThumbCardHoverMask {
  opacity: 0;
}

.CoverUploaderThumbCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Upload-success {
  border: 2px dashed #70c040;
}

.Upload-exception {
  border: 2px dashed #e23c39;
}
