.BookCard img {
  width: 100%;
  height: auto;
}

.BookCard {
  margin-bottom: 1.5em;
}

.ant-card-extra {
  margin: 0 !important;
}

.ant-card-head-wrapper .ant-card-extra {
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  .BookCard img {
    width: 100% !important;
    height: auto !important;
  }

  .BookCard .lazy-loader {
    width: 100% !important;
    height: auto;
  }
}

@media screen and (max-width: 632px) {
  .BookCard {
    min-width: 270px !important;
  }
}

@media screen and (max-width: 590px) {
  .BookCard {
    min-width: 233px !important;
  }
}
