.BooksListingContent {
  min-height: calc(100vh - 64px) !important;
  padding-left: 88px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  display: flex;
  transition: background 0.2s ease;
}

@media screen and (min-width: 591px) {
  .BooksListingContent .Grid {
    grid-gap: 1.5em;
  }
}

@media screen and (max-width: 590px) {
  .BooksListingContent {
    padding-right: 12px;
    padding-top: 12px;
    padding-left: 76px;
  }

  .BooksListingContent .BookCard {
    margin-bottom: 0;
  }

  .BooksListingContent .Grid .GridItem:last-child .BookCard {
    margin-bottom: 0;
  }
}

.BooksListingContentSiderExpanded {
  overflow: hidden;
}

.BooksFeedbackHeading {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
