.AddBookWrapper {
  min-height: calc(100vh - 64px);
  width: 100%;
  padding: 24px;
  margin: 0 auto;
}

.SectionNotActive {
  opacity: 0.3;
}

.TryUploadingAgainWrapper {
  padding-top: 24px;
  display: flex;
}

.TryUploadingAgainButton {
  width: 50%;
}

.TryUploadingAgainButton:first-of-type {
  margin-right: 20px;
}

.AddBookWrapperInner {
  max-width: 1200px;
  margin: 0 auto;
}

.FieldArrayWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FieldArrayInputsWrapper {
  flex-direction: row;
}

.FieldArrayInputWrapper {
  flex: 1;
}

.FieldArrayInputWrapper:nth-child(2n + 1) {
  margin-right: 24px;
}

.FieldArrayInputsWrapper {
  display: flex;
  width: 100%;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: -11px;
  margin-left: 12px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}

@media screen and (max-width: 680px) {
  .AddBookWrapper {
    padding: 12px;
  }
  .FieldArrayWrapper {
    flex-direction: column;
    align-items: initial;
    flex-direction: row;
    align-items: center;
  }

  .FieldArrayInputWrapper {
    margin: 0 !important;
    width: 100%;
  }

  .FieldArrayInputsWrapper {
    /* display: inline; */
    flex-direction: column;
    flex: 1;
  }
  /* .FieldArrayDivider {
  }
  .FieldArrayDivider:last-child {
    display: none;
  } */
}
