.GlobalProgressBar {
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  background: #1890ff;
  transition: transform 200ms linear, opacity 1s linear;
  border-radius: 500px;
  box-shadow: 0px 0px 11px 2px rgba(24, 144, 255, 0.62);
}
