.ShoppingCartCheckoutGlobalWrapper {
  max-width: 1440px;
  width: 100%;
  padding: 24px;
  margin: 0 auto;
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: flex-start;
}

.ShoppingCartCheckoutTileWrapper {
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}

.ShoppingCartCheckoutGlobalWrapper > div:first-child {
  padding-right: 20px;
}

.ShoppingCartCheckoutNonListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.ShoppingCartCheckoutItemsIcons {
  display: flex;
}
.ShoppingCartCheckoutItemsIcons a {
  padding: 0 10px;
}

.ShoppingCartCheckoutItemsIcons a i {
  margin-left: 5px;
}

.ShoppingCartCheckoutItemsList {
  padding: 24px;
}

.ShippingWrapper,
.PaymentWrapper {
  margin-top: 20px;
}

.ShoppingCartCheckoutPanelInner {
  padding: 24px;
}

.CheckoutListItemWrapper {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #e8e8e8;
}

.CheckoutListItemWrapper:first-child {
  padding-top: 0;
}

.CheckoutListItemWrapper:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.CheckoutListItemImageWrapper {
  width: 64px;
  height: 64px;
  margin-right: 12px;
}

.BookItemControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.BookItemControls i {
  margin-left: 24px;
  font-size: 24px;
}

.BookItemControlsIcon {
  cursor: pointer;
}

@media screen and (min-width: 1100px) {
  .BookItemControlsIcon:hover {
    transition: transform 0.2s ease;
    transform: scale(1.1);
  }
}

.BookItemDescription {
  color: rgba(0, 0, 0, 0.45);
  word-break: break-all;
}

.CheckoutListItemImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.CheckoutError {
  border: 2px solid #ffa39e;
}

.ShoppingCartCheckoutOrderPanelWrapper {
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  width: 450px;
}

.ShoppingCartCheckoutOrderPanelInner {
  padding: 24px;
}

.ShoppingCartCheckoutOrderPanelShippingInfo {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 12px;
}

@media screen and (max-width: 1100px) {
  .ShoppingCartCheckoutOrderPanelWrapper {
    width: 100%;
    margin-top: 20px;
  }

  .ShoppingCartCheckoutGlobalWrapper > div:first-child {
    padding-right: 0;
  }
}

@media screen and (max-width: 660px) {
  .ShoppingCartCheckoutGlobalWrapper {
    padding: 20px 0;
  }

  .ShoppingCartCheckoutItemsList {
    padding: 12px;
  }

  .ShoppingCartCheckoutTile .TileUpAndDownHeadingContainer h1:first-child {
    font-size: 20px;
  }

  .ShoppingCartCheckoutTile .TileUpAndDownHeadingContainer {
    padding: 12px 12px;
  }

  .BookItemControls i {
    margin-left: 8px;
  }

  .BookItemControls .ant-input-number {
    height: 30px;
    width: 70px;
  }

  .ShoppingCartCheckoutPanelInner {
    padding: 12px;
  }

  .CheckoutError {
    border-left: 0;
    border-right: 0;
  }

  .CheckoutListItemImageWrapper {
    display: none;
  }

  .BookItemDescription {
    display: none;
  }

  .BookItemPrice {
    color: rgba(0, 0, 0, 0.45);
  }
}
