.HeaderAutoCompleteWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
}

.HeaderAutoCompleteInput {
  border: 0px;
  background: white;
  overflow: hidden;
  padding: 0;
  margin: 0;
  outline: none;
  width: 100%;
  box-sizing: content-box;
  height: 32px;
  line-height: 32px;
}
.ant-select-auto-complete.ant-select .ant-input {
  border: 0 !important;
  box-shadow: none;
}

.HeaderAutoCompleteSearchIcon {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  height: calc(100% + 1px);
  border-bottom: 2px solid transparent;
}

.typeaheadHighlight {
  color: #1890ff;
  font-weight: bold;
}

.noTypeaheadTextHighlight .typeaheadHighlight {
  color: rgba(0, 0, 0, 0.65) !important;
  font-weight: normal !important;
}

.HeaderAutoCompleteWrapper .ant-input {
  font-size: 16px !important;
}

.HeaderAutoCompleteForm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  position: relative;
  border-bottom: 2px solid #1890ff;
  margin-right: 20px;
}

.HeaderAutoCompleteForm .AutoCompleteEraseTextIcon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.HasText + .AutoCompleteEraseTextIconWrapper {
  opacity: 0.6;
}

.AutoCompleteEraseTextIconWrapper {
  width: 30px;
  height: 100%;
  position: absolute;
  right: 0;
  transition: opacity 300ms ease;
  opacity: 0;
}

.HeaderAutoCompleteResultsWrapper {
  position: absolute;
  width: calc(100% - 20px);
  max-height: 300px;
  overflow-y: auto;
  top: calc(100% + 7px);
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.65);
}

.HeaderAutoCompleteResultsWrapperInner {
  transition: opacity 200ms ease;
}

.TypeaheadResultItem {
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  clear: both;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: background 0.3s;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  outline: none;
}

.TypeaheadResultCategory {
  background: #f0f2f5;
  font-weight: bold;
  pointer-events: none;
  color: gray;
}

.TypeaheadResultItem:hover {
  background: #e6f7ff;
  cursor: pointer;
}

.typeaheadOptionSelected {
  font-weight: bold !important;
  color: gray !important;
}

.typeaheadOptionSelected .typeaheadHighlight {
  color: gray;
}

.TypeaheadFeedbackWrapper {
  height: 30px;
  padding: 10px;
  box-sizing: content-box !important;
}
