.StatusIndicatorWrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #efaf41;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 999;
  color: white;
}
