.ShoppingCartHeaderWrapper {
  position: relative;
  outline: none;
  cursor: pointer;
}

.ShoppingCartHeaderWrapper .CartBooksPopupWrapper {
  width: 300px;
  height: 300px;
  background: white;
  position: fixed;
  top: 80px;
  will-change: transform;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.65);
  outline: none;
}

.CartBooksPopupWrapper .CartBooksContent {
  padding: 10px;
  position: relative;
  width: 100%;
  height: 100%;
}

.CartBooksPopupWrapper .NoBooksInCartWrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-direction: column;
}

.CartBooksPopupWrapper .BooksInCartWrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.NoBooksInCartWrapper span {
  font-size: 20px !important;
}

.ShoppingCartIcon {
  transition: opacity 0.3s ease;
}

.ShoppingCartIcon.loading {
  opacity: 0.4;
}

.ShoppingCartIcon.loaded {
  opacity: 1;
}

.CartBooksPopupWrapper::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: -4px;
  left: 50%;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
  background: white;
}

.PopupBookItemsWrapper {
  flex: 1;
  overflow-y: auto;
}

.PopupBookItemsWrapper .ant-list-item-meta {
  width: 100%;
}

.PopupBookItemsWrapper .ant-list-item-meta-content {
  width: 100%;
}

.PopupBookItemsWrapper .ant-list-item-meta-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.PopupCheckout {
  width: 100%;
  border-top: 1px solid #e8e8e8;
  box-sizing: border-box;
  text-align: center;
  height: 46px;
  line-height: 46px;
}

.NoBooksInCartWrapper img {
  width: 220px;
  height: auto;
}

.PopupCheckout:hover {
  color: #1890ff;
}

.PopupBookItemsWrapper .ant-list-item {
  white-space: normal;
  padding: 10px;
  padding-left: 15px;
}

.PopupBookItemsWrapper .ant-list-item:hover {
  background: #e6f7ff;
}

@media screen and (max-width: 400px) {
  .ShoppingCartHeaderWrapper .CartBooksPopupWrapper {
    width: calc(100vw);
    margin: 0 auto;
    border-radius: 0;
    height: calc(100vh - 64px);
    left: 0;
    right: 0;
    top: 64px;
  }
  .ShoppingCartHeaderWrapper .CartBooksPopupWrapper::after {
    display: none;
  }
}
