.OrderList p:last-child {
  margin-bottom: 0;
}

.OrderBookListWrapper {
  padding: 24px;
}

.OrderDetailTileWrapper .TileInner {
  margin-bottom: 20px;
}

.OrderDetailTileWrapper .TileInner:last-child {
  margin-bottom: 0;
}

.OrderBookListItemWrapper {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  justify-content: flex-start;
}

.CheckoutListItemImageWrapper {
  width: 64px;
  height: 64px;
  margin-right: 12px;
}

.CheckoutListItemImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.OrderBookListItemWrapper:first-child {
  padding-top: 0;
}

.OrderBookListItemWrapper:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.NoOrderInner {
  padding: 24px;
}

@media screen and (max-width: 720px) {
  .OrderDetailTileWrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .OrderDetailTileWrapper .TileUpAndDownHeadingContainer h1 {
    font-size: 20px;
  }

  .OrderBookListWrapper {
    padding: 12px;
  }
  .NoOrderTile {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 660px) {
  .OrderImageWrapper {
    display: block !important;
  }
}
