.ResourceNotFoundWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.ResourceNotFoundWrapper.VerticalCenterNoHeader {
  height: 100vh;
}

.ResourceNotFoundWrapper.VerticalCenterWithHeader {
  height: calc(100vh - 64px);
}

.ResourceNotFoundContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 80px;
}

.ResourceNotFoundContent h1 {
  color: #434e59;
  font-size: 50px;
}

.ResourceNotFoundActions {
  display: block;
}

.ResourceNotFoundActions button:nth-child(2) {
  margin-left: 15px;
}

@media screen and (max-width: 800px) {
  .ResourceNotFoundWrapper {
    flex-direction: column;
  }

  .ResourceNotFoundWrapper img {
    max-width: 500px;
    height: auto;
    width: 100%;
  }

  .ResourceNotFoundContent {
    padding-top: 20px;
    padding-left: 0;
  }

  .ResourceNotFoundContent h1 {
    text-align: center;
  }
  .ResourceNotFoundActions {
    display: flex;
    width: 100%;
  }
  .ResourceNotFoundActions > * {
    flex: 1;
  }
}

@media screen and (max-width: 500px) {
  .ResourceNotFoundContent h1 {
    font-size: 40px;
  }
}
