.SquareLoaderWrapper {
  width: 100%;
  height: 100%;
}

.SquareLoaderWrapper .ant-skeleton-content {
  display: none;
}

.SquareLoaderWrapper .ant-skeleton-header {
  padding: 0;
}

.SquareLoaderWrapper .ant-skeleton {
  width: 100%;
  height: 100%;
}

.SquareLoaderWrapper .ant-skeleton-header > span {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
}
