.authForm {
  width: 600px;
  padding: 50px;
  box-sizing: border-box;
}

.authFormSubmitButton {
  width: 100%;
}

.authFormWrapper {
  height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.authForm h1,
.AuthForm h2,
.AuthForm h3 {
  text-align: center;
}

@media screen and (max-width: 630px) {
  .authForm {
    width: 100%;
    padding: 20px;
  }
}
