.CoverUploaderCard {
  width: 128px;
  height: 128px;
  border: 1px dashed #d9d9d9;
  background: #fafafa;
  display: inline-flex;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  margin-right: 6px;
  margin-top: 6px;
  transform-origin: top left;
}

.CoverUploaderCard:hover {
  cursor: pointer;
}

.CoverUploaderCardMask {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
  transition: opacity 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
}

.CoverUploaderCardMask .ant-progress-status-active .ant-progress-text {
  color: white !important;
}
