.CoverUploaderForm {
  display: inline-block;
  vertical-align: top;
}

.CoverUploaderLabel {
  display: inline-flex;
  flex-direction: column;
}

.CoverUploaderInput {
  display: none;
}

.CoverUploaderLabel:hover {
  border-color: #1890ff;
  cursor: pointer;
}

.CoverUploaderLabelText {
  margin-top: 8px;
  color: #666;
}
