.ExceptionWrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 24px;
}

.Exception {
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 24px;
}

.Exception h1 {
  color: rgba(0, 0, 0, 0.7);
  color: #e23c39;
}

@media screen and (max-width: 780px) {
  .Exception {
    padding: 12px;
  }
  .ExceptionWrapper {
    padding: 12px;
  }
}
