.HeaderMenu {
  height: 64px;
  font-size: 16px !important;
  position: relative;
  min-width: 300px;
  line-height: 60px !important;
}

.HeaderFixed {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: white !important;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.MobileVisible {
  display: none !important;
}

.DesktopVisible {
  display: flex !important;
}

.MobileDrawer .ant-drawer-body {
  padding: 0;
}

.MobileDrawer .ant-menu-item:first-of-type {
  margin-top: 0;
}

.antd-pro-header-search-headerSearch {
  padding: 0 20px;
  margin-left: auto;
}

.antd-pro-header-search-input {
  height: 49px !important;
  border-bottom: 2px solid #1890ff !important;
}

.ant-avatar.ant-avatar-circle {
  margin-bottom: 5px;
}

.MobileDrawer .ant-menu-item {
  width: 100% !important;
}

.antd-pro-header-search-show {
  width: 300px !important;
}

@media screen and (max-width: 800px) {
  .MobileVisible {
    display: flex !important;
  }
  .DesktopVisible {
    display: none !important;
  }

  .ant-layout-header {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .MobileVisible.HeaderMenu.IsAuthenticated
    .antd-pro-header-search-headerSearch {
    margin: 0;
  }
  .MobileVisible.HeaderMenu.IsAuthenticated {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media screen and (max-width: 660px) {
  .MobileVisible.HeaderMenu {
    display: flex !important; /* [1] */
    flex-wrap: nowrap !important; /* [1] */
    position: absolute;
    z-index: 999;
    left: 0;
    min-width: 100%;
  }
  .MobileDrawerBars {
    margin-right: 10px !important;
  }
  .IsAuthenticated .ant-menu-item {
    flex: 0 0 auto;
  }

  .antd-pro-header-search-show {
    width: calc(100vw - 84px) !important;
  }
}
