.RoutesFade-enter,
.RoutesFade-exit,
.RoutesFade-appear,
.RoutesFade-enter-active,
RoutesFade-exit-active {
  opacity: 0;
  animation-name: a !important;
}

.RoutesFade-enter,
.RoutesFade-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  right: 0;
  min-height: calc(100vh - 64px);
  overflow: hidden;
}

.RoutesFade-enter {
  opacity: 0;
}
.RoutesFade-exit {
  opacity: 1;
}

.RoutesFade-exit-active {
  opacity: 0;
  z-index: 1;
  transition: 0.2s opacity ease;
}

.RoutesFade-enter-active {
  opacity: 1;
  z-index: 5;
  transition: 0.2s opacity ease;
}
