.BookDetailBuyPanelWrapper {
  min-width: 300px;
  padding: 24px;
  border-radius: 4px;
  background: white;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
}

@media screen and (max-width: 1180px) {
  .BookDetailBuyPanelWrapper {
    order: 2;
    flex: 1;
    margin-left: 24px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 680px) {
  .BookDetailBuyPanelWrapper {
    width: 100%;
    margin: 0;
    margin-top: 24px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 500px) {
  .BookDetailBuyPanelWrapper {
    margin-top: 12px;
  }
}

.BookDetailBuyPanelInnerBlock {
  width: 100%;
  padding: 12px;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BookDetailBookAvailable p {
  color: #70c040;
  font-size: 18px;
  margin: 0;
  display: inline-block;
  margin-left: 24px;
}

.BookDetailBookButton {
  margin-top: 12px;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
}

.BookDetailPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.BookDetailPrice p {
  margin: 0;
}

.BookDetailPrice .BookPrice {
  font-size: 20px;
  color: #e23c39;
}

.SmallParagraph {
  color: #949a9d;
  font-size: 13px;
}

.bg-primary {
  background-color: #4190f7;
}

.bg-success {
  background-color: #70c040;
}

.bg-warning {
  background-color: #efaf41;
}

.bg-danger {
  background-color: #e23c39;
}
