.BooksFilterSider .ant-menu {
  /* height: 100%; */
  border: 0 !important;
}

.BooksFilterSider {
  position: fixed !important;
  height: calc(100vh - 64px);
  top: 64px;
  z-index: 30;
}

.BooksFilterSider .ant-layout-sider-children {
  overflow-y: auto;
  overflow-x: hidden;
}

.BooksFilterMask {
  position: fixed;
  height: calc(100vh - 64px);
  top: 64px;
  width: 100vw;
  z-index: 29;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}

.BooksFilterMask.MaskVisible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.BooksFilterSider.ant-layout-sider-collapsed .ant-menu-inline-collapsed {
  width: 64px;
}

.BooksFilterSider.ant-layout-sider-collapsed
  .ant-menu-inline-collapsed
  .ant-menu-item
  .anticon {
  transform: translateX(-8px);
}

.BooksFilterSider.ant-layout-sider-collapsed
  .ant-menu-inline-collapsed
  .ant-menu-submenu-title {
  transform: translateX(-8px);
}

.BooksFilterSider .ant-layout-sider-trigger {
  background: #1890ff !important;
  color: white !important;
  box-sizing: border-box;
}

.BooksFilterLoader {
  width: 64px;
  height: calc(100vh - 64px);
  background: #fafafa;
  position: fixed;
}

.BooksFilterFade-enter,
.BooksFilterFade-exit,
.BooksFilterFade-appear,
.BooksFilterFade-enter-active,
BooksFilterFade-exit-active {
  opacity: 0;
  animation-name: a !important;
}

.BooksFilterFade-enter,
.BooksFilterFade-exit {
}

.BooksFilterFade-enter {
  opacity: 0;
}
.BooksFilterFade-exit {
  opacity: 30 !important;
}

.BooksFilterFade-exit-active {
  opacity: 0 !important;
  z-index: 30 !important;
  transition: 0.2s opacity ease;
}

.BooksFilterFade-enter-active {
  opacity: 1 !important;
  z-index: 30 !important;
  transition: 0.2s opacity ease;
}
