.Buttons .ant-form-item-children {
  display: flex;
}

.Buttons .ant-form-item-children button:last-child {
  margin-left: 24px;
}

.CheckoutShippingFormWrapper {
  max-width: 1440px;
  padding: 24px;
  margin: 0 auto;
}

.SuccessButton {
  border-color: #70c040 !important;
}

@media screen and (max-width: 700px) {
  .Buttons .ant-form-item-children button:last-child {
    margin-left: 12px;
  }
}

@media screen and (max-width: 500px) {
  .CheckoutShippingFormWrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
