.lazy-loader {
  overflow: hidden;
  position: relative;
  /* { height: "200px", width: "300px" } */
  width: 300px;
  height: 200px;
}

.lazy-loader-wrapper {
  min-width: 100%;
}

.lazy-loader .img-thumb {
  z-index: 1;
  transition: opacity 1s ease-in-out;
  width: 100%;
  height: 100%;
}

.lazy-loader .img-normal {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.lazy-loader .img-hide {
  opacity: 0;
}
