.BookDetailCoverCarouselWrapper {
  min-width: 300px;
  max-width: 300px;
  height: 340px;
  border-radius: 4px;
  padding: 24px;
  padding-bottom: 36px;
  background: white;
  display: inline-flex;
  justify-content: space-around;
  flex-direction: column;
}

.BookDetailCoverCarouselWrapper img {
  max-height: 280px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1180px) {
  .BookDetailCoverCarouselWrapper {
    order: 2;
    margin: 0;
    margin-top: 24px;
  }
}

@media screen and (max-width: 680px) {
  .BookDetailCoverCarouselWrapper {
    padding-bottom: 24px;
    position: relative;
    min-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .BookDetailCoverCarouselWrapper {
    margin-top: 12px;
  }
}
