.BookDetailBasicInfoWrapper {
  padding: 36px;
  background: white;
  margin-right: 24px;
  margin-left: 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.BookAuthorsWrapper {
  margin-top: 6px;
}

.BookDescriptionHeading {
  margin-bottom: 6px;
}

@media screen and (max-width: 1180px) {
  .BookDetailBasicInfoWrapper {
    order: 1;
    width: 100%;
    margin: 0;
  }
}

.BookDetailBasicInfoWrapper h1 {
  color: #494949 !important;
  margin: 0 !important;
}

@media screen and (max-width: 680px) {
  .BookDetailBasicInfoWrapper {
    padding: 24px;
  }
}
