body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~antd/dist/antd.css";
@import "~ant-design-pro/dist/ant-design-pro.css";
