.CoverUploadRetryButtons {
  padding-top: 24px;
  display: flex;
}

.RetryButton {
  flex: 1;
}

.RetryButton:first-of-type {
  margin-right: 24px;
}

@media screen and (max-width: 600px) {
  .CoverUploadRetryButtons {
    flex-direction: column;
  }
  .RetryButton {
    margin-right: 0 !important;
    margin-bottom: 12px;
  }
}
