.UserProfileWrapper {
  width: 100%;
  min-height: calc(100vh - 64px);
  background: white;
}

.MobileOrdersWrapper {
  padding-bottom: 24px;
  padding-top: 24px;
}

.MobileOrdersWrapper h1 {
  padding-left: 12px;
}

.MobileOrder {
  padding: 24px 12px;
  margin-bottom: 14px;
}

.MobileOrder h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .TileWrapper.MobileFullWidth {
    padding-left: 0;
    padding-right: 0;
  }
}
