.BookDetailWrapper {
  width: 100%;
  min-height: calc(100vh - 64px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

@media screen and (max-width: 500px) {
  .BookDetailWrapper {
    padding: 12px;
  }
}

.BookDetailWrapper .BookDetailRow {
  display: inline-flex;
  max-width: 1400px;
  width: 100%;
  justify-content: center;
  margin-bottom: 24px;
}

@media screen and (max-width: 1180px) {
  .BookDetailRow {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 680px) {
  .BookDetailRow {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .BookDetailRow {
    margin-bottom: 12px !important;
  }
  .BookDetailRow:last-child {
    margin-bottom: 0 !important;
  }
}

.BookDetailWrapper .BookDetailRow:last-child {
  margin-bottom: 0;
}
