.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  grid-auto-rows: min-content;
  grid-column-gap: 1.5em;
  margin: 0 auto;
  width: 100%;
}

.Grid .GridItem {
  display: flex;
  width: 100%;
  min-width: 0;
  word-wrap: break-word;
  break-inside: avoid;
}

.GridItem > a {
  width: 100%;
}
@media screen and (max-width: 680px) {
  .Grid {
    grid-row-gap: 12px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 400px) {
  .Grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
