.TileWrapper {
  max-width: 1440px;
  width: 100%;
  padding: 24px;
  margin: 0 auto;
}

.TileInner {
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}

.TileUpAndDownHeadingContainer {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.TileUpAndDownHeadingContainer h1,
.TileUpAndDownHeadingContainer h2 {
  margin: 0;
}
