.FlexFullCentered {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.FlexCenteredVertically {
  display: flex !important;
  align-items: center !important;
}

.FlexCenteredHorizontally {
  display: flex !important;
  justify-content: center !important;
}

.ant-skeleton-with-avatar
  .ant-skeleton-content
  .ant-skeleton-title
  + .ant-skeleton-paragraph {
  margin-top: 16px !important;
}

.ant-skeleton-paragraph {
  padding-left: 0 !important;
}

@media screen and(max-width: 680px) {
  .antd-pro-exception-exception .antd-pro-exception-imgEle {
    height: 300px;
  }
}
